{% extends 'AppCoder/index.html' %}
{% load static %}
    
    {% block contenido %}
    <div class="fondo-pantalla">
        
            <div class="div1">
                <div><h1> Agregar un juego nuevo: </h1>
                    <br>
                    <form action="" enctype="multipart/form-data" method="POST"> {% csrf_token %}  
                        
                        <table>
                            {{form.as_p}}
                        </table>
                        <br>
                        <input type="submit"  value= "Enviar" style="background: white;"></input>   
                        <a style="background-color:rgb(148, 215, 86); font-size: 20px; border-color:black" href="{% url 'ListaGame' %}">Volver al catalogo</a>
                        <br>
                        <br>
                    </form>
                </div>
            </div>
        
    </div>
    <style>
        .fondo-pantalla{
            background-image: url(/media/juegos/csgo2.jpg);
        }

        .fondo-pantalla .div1{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 75vh;
            color: rgb(2, 2, 2);
        }
        .fondo-pantalla form{
            font-size: 30px;    
         }
         .fondo-pantalla form input{
            font-size: 20px;
            background: none;
            border: none;
            border: green 2px solid ;
            border-radius: 5px;
         }
    </style>


    {% endblock %}